#search-time {
    padding: 0.75rem;
    background-color: black;
    border-radius: 5px;
    border: 1px solid var(--border-gray);
    border-bottom: 2px solid var(--toggle-timer-clr);
    outline: none;
    color: white;
    position: relative;
    height: 3rem;
}

.search-results {
    position: absolute;
    top: 12rem; /* This positions it below the input */
    z-index: 10000000;
    width: 90%;
    height: 200px;
    overflow-y: auto;
    background-color: var(--search-results-back);
    color: var(--text-clr);
    
}

.search-results div {
    width: 100%;
    padding: 0.75rem 0.5rem;

}

.search-results div:hover {
    background-color: var(--search-results-hover);
}

